openapi: 3.1.0
info:
  title: Energy Allocation API
  version: 1.0.0
  description: >-
    Tenant-aware API for onboarding facilities, ingesting data, generating model-driven
    recommendations, and tracking realized savings.
servers:
  - url: https://api.energyallocation.com
security:
  - oauth2: [client_admin, facility_manager, energy_analyst]

paths:
  /v1/clients/{client_id}/facilities:
    get:
      tags: [Onboarding]
      summary: List facilities by client
      operationId: listFacilities
      parameters:
        - $ref: '#/components/parameters/clientId'
        - $ref: '#/components/parameters/status'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: Facility list
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Facility' }
                  next_cursor: { type: [string, 'null'] }
                required: [items]

    post:
      tags: [Onboarding]
      summary: Create facility
      operationId: createFacility
      parameters:
        - $ref: '#/components/parameters/clientId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFacilityRequest'
      responses:
        '201':
          description: Facility created in draft state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFacilityResponse'

  /v1/facilities/{facility_id}/connectors:
    post:
      tags: [Onboarding]
      summary: Attach connector to facility
      operationId: attachConnector
      parameters:
        - $ref: '#/components/parameters/facilityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectorRequest'
      responses:
        '201':
          description: Connector created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'

  /v1/connectors/{connector_id}/validate:
    post:
      tags: [Onboarding]
      summary: Validate connector health and channels
      operationId: validateConnector
      parameters:
        - $ref: '#/components/parameters/connectorId'
      responses:
        '200':
          description: Validation complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorValidationResult'

  /v1/connectors/{connector_id}/channels:
    get:
      tags: [Ingestion]
      summary: List detected channels
      operationId: listConnectorChannels
      parameters:
        - $ref: '#/components/parameters/connectorId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: Paginated channel list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelListResponse'

  /v1/facilities/{facility_id}/appliances:
    post:
      tags: [Modeling]
      summary: Create appliance and channel mappings
      operationId: createAppliance
      parameters:
        - $ref: '#/components/parameters/facilityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplianceRequest'
      responses:
        '201':
          description: Appliance created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appliance'

  /v1/facilities/{facility_id}/ingestion/imports:
    post:
      tags: [Ingestion]
      summary: Submit historical import
      operationId: submitImport
      parameters:
        - $ref: '#/components/parameters/facilityId'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateImportRequest'
      responses:
        '202':
          description: Import accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportJob'

  /v1/ingestion/imports/{import_id}:
    get:
      tags: [Ingestion]
      summary: Get import status
      operationId: getImportStatus
      parameters:
        - $ref: '#/components/parameters/importId'
      responses:
        '200':
          description: Import progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportJob'

  /v1/facilities/{facility_id}/features/materialize:
    post:
      tags: [Modeling]
      summary: Trigger feature materialization
      operationId: materializeFeatures
      parameters:
        - $ref: '#/components/parameters/facilityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaterializeFeaturesRequest'
      responses:
        '202':
          description: Materialization queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobResponse'

  /v1/facilities/{facility_id}/models/runs:
    post:
      tags: [Modeling]
      summary: Start model run
      operationId: startModelRun
      parameters:
        - $ref: '#/components/parameters/facilityId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateModelRunRequest'
      responses:
        '202':
          description: Model run queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelRunQueuedResponse'

  /v1/models/runs/{model_run_id}:
    get:
      tags: [Modeling]
      summary: Get model run details
      operationId: getModelRunDetail
      parameters:
        - $ref: '#/components/parameters/modelRunId'
      responses:
        '200':
          description: Model run detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelRunDetail'

  /v1/facilities/{facility_id}/recommendations:
    get:
      tags: [Recommendations]
      summary: List recommendations
      operationId: listRecommendations
      parameters:
        - $ref: '#/components/parameters/facilityId'
        - $ref: '#/components/parameters/status'
        - $ref: '#/components/parameters/sort'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: Recommendation list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationListResponse'

  /v1/recommendations/{recommendation_id}/decision:
    post:
      tags: [Recommendations]
      summary: Accept or reject recommendation
      operationId: decideRecommendation
      parameters:
        - $ref: '#/components/parameters/recommendationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecommendationDecisionRequest'
      responses:
        '200':
          description: Decision recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Recommendation'

  /v1/recommendations/{recommendation_id}/implementations:
    post:
      tags: [Recommendations]
      summary: Record implementation milestone
      operationId: recordRecommendationImplementation
      parameters:
        - $ref: '#/components/parameters/recommendationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecommendationImplementationRequest'
      responses:
        '201':
          description: Implementation recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobResponse'

  /v1/facilities/{facility_id}/savings:
    get:
      tags: [Monitoring]
      summary: Get savings summary
      operationId: getSavings
      parameters:
        - $ref: '#/components/parameters/facilityId'
        - in: query
          name: from
          schema: { type: string, format: date }
        - in: query
          name: to
          schema: { type: string, format: date }
      responses:
        '200':
          description: Savings summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavingsSummary'

  /v1/facilities/{facility_id}/alerts:
    get:
      tags: [Monitoring]
      summary: List alerts
      operationId: listAlerts
      parameters:
        - $ref: '#/components/parameters/facilityId'
        - $ref: '#/components/parameters/status'
        - $ref: '#/components/parameters/severity'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: Alert list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertListResponse'

  /v1/facilities/{facility_id}/drift-events:
    get:
      tags: [Monitoring]
      summary: List drift events
      operationId: listDriftEvents
      parameters:
        - $ref: '#/components/parameters/facilityId'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: Drift event list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriftEventListResponse'

  /v1/facilities/{facility_id}/retraining-jobs:
    get:
      tags: [Monitoring]
      summary: List retraining jobs
      operationId: listRetrainingJobs
      parameters:
        - $ref: '#/components/parameters/facilityId'
        - $ref: '#/components/parameters/status'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/cursor'
      responses:
        '200':
          description: Retraining jobs list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrainingJobListResponse'

  /v1/alerts/{alert_id}/acknowledge:
    post:
      tags: [Monitoring]
      summary: Acknowledge an alert
      operationId: acknowledgeAlert
      parameters:
        - in: path
          name: alert_id
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                note: { type: string }
      responses:
        '200':
          description: Alert acknowledged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'

  /v1/alerts/{alert_id}/incident:
    post:
      tags: [Monitoring]
      summary: Open incident from alert
      operationId: openIncidentFromAlert
      parameters:
        - in: path
          name: alert_id
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                note: { type: string }
      responses:
        '200':
          description: Incident opened
          content:
            application/json:
              schema:
                type: object
                properties:
                  incident_id: { type: string }
                  alert_id: { type: string }
                  status: { type: string }

  /v1/webhooks/subscriptions:
    post:
      tags: [Integrations]
      summary: Create webhook subscription
      operationId: createWebhookSubscription
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscriptionRequest'
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscription'

  /v1/public/demo-requests:
    post:
      tags: [Public]
      summary: Request enterprise demo
      operationId: createDemoRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DemoRequestCreate'
      responses:
        '201':
          description: Demo request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DemoRequest'

  /v1/public/pricing-inquiries:
    post:
      tags: [Public]
      summary: Submit pricing inquiry
      operationId: createPricingInquiry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PricingInquiryCreate'
      responses:
        '201':
          description: Pricing inquiry created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingInquiry'

  /v1/integrations/partners:
    post:
      tags: [Partner Integrations]
      summary: Register a new third-party partner
      operationId: registerPartner
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PartnerCreate' }
      responses:
        '201':
          description: Partner registered
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Partner' }
    get:
      tags: [Partner Integrations]
      summary: List all registered partners
      operationId: listPartners
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [active, suspended, archived] }
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          description: Partner list
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Partner' }
                  total: { type: integer }

  /v1/integrations/partners/{partner_id}:
    get:
      tags: [Partner Integrations]
      summary: Get partner details
      operationId: getPartner
      parameters:
        - in: path
          name: partner_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Partner details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Partner' }
    patch:
      tags: [Partner Integrations]
      summary: Update partner metadata
      operationId: updatePartner
      parameters:
        - in: path
          name: partner_id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PartnerUpdate' }
      responses:
        '200':
          description: Partner updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Partner' }

  /v1/integrations/partners/{partner_id}/keys:
    post:
      tags: [Partner API Keys]
      summary: Create a new API key for a partner
      operationId: createPartnerApiKey
      parameters:
        - in: path
          name: partner_id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiKeyCreate' }
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiKeyWithSecret' }
    get:
      tags: [Partner API Keys]
      summary: List API keys for a partner
      operationId: listPartnerApiKeys
      parameters:
        - in: path
          name: partner_id
          required: true
          schema: { type: string }
        - in: query
          name: status
          schema: { type: string, enum: [active, revoked] }
      responses:
        '200':
          description: API keys list
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/ApiKey' }
                  partner_id: { type: string }

  /v1/integrations/partners/{partner_id}/keys/{key_id}:
    patch:
      tags: [Partner API Keys]
      summary: Rotate or revoke an API key
      operationId: rotatePartnerApiKey
      parameters:
        - in: path
          name: partner_id
          required: true
          schema: { type: string }
        - in: path
          name: key_id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum: [rotate, revoke]
              required: [action]
      responses:
        '200':
          description: API key updated
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/ApiKeyWithSecret' }
                  - type: object
                    properties:
                      key_id: { type: string }
                      status: { type: string, enum: [revoked] }

  /v1/integrations/partners/{partner_id}/webhooks:
    post:
      tags: [Partner Webhooks]
      summary: Register a webhook endpoint
      operationId: createPartnerWebhook
      parameters:
        - in: path
          name: partner_id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WebhookCreate' }
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Webhook' }
    get:
      tags: [Partner Webhooks]
      summary: List webhooks for a partner
      operationId: listPartnerWebhooks
      parameters:
        - in: path
          name: partner_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Webhooks list
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Webhook' }
                  partner_id: { type: string }

  /v1/integrations/partners/{partner_id}/webhooks/{webhook_id}:
    patch:
      tags: [Partner Webhooks]
      summary: Update a webhook
      operationId: updatePartnerWebhook
      parameters:
        - in: path
          name: partner_id
          required: true
          schema: { type: string }
        - in: path
          name: webhook_id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/WebhookUpdate' }
      responses:
        '200':
          description: Webhook updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Webhook' }

  /v1/integrations/partners/{partner_id}/allocations:
    post:
      tags: [Partner Allocations]
      summary: Assign partner to a client
      operationId: assignPartnerToClient
      parameters:
        - in: path
          name: partner_id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AllocationCreate' }
      responses:
        '201':
          description: Allocation created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Allocation' }
    get:
      tags: [Partner Allocations]
      summary: List partner allocations
      operationId: listPartnerAllocations
      parameters:
        - in: path
          name: partner_id
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Allocations list
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Allocation' }
                  partner_id: { type: string }

  /v1/integrations/partners/{partner_id}/allocations/{allocation_id}:
    patch:
      tags: [Partner Allocations]
      summary: Update or revoke an allocation
      operationId: updatePartnerAllocation
      parameters:
        - in: path
          name: partner_id
          required: true
          schema: { type: string }
        - in: path
          name: allocation_id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AllocationUpdate' }
      responses:
        '200':
          description: Allocation updated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Allocation' }

  /v1/integrations/partners/{partner_id}/usage:
    get:
      tags: [Partner Usage]
      summary: Get usage statistics and audit logs
      operationId: getPartnerUsage
      parameters:
        - in: path
          name: partner_id
          required: true
          schema: { type: string }
        - in: query
          name: start_date
          schema: { type: string, format: date }
        - in: query
          name: end_date
          schema: { type: string, format: date }
      responses:
        '200':
          description: Usage and audit data
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PartnerUsage' }

components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.energyallocation.com/oauth/token
          scopes:
            client_admin: Manage client-level resources
            facility_manager: Manage facility operations
            energy_analyst: Read analytics and model outputs
            viewer: Read-only access
            ops_admin: Internal operations access
            ml_engineer: Internal ML administration

  parameters:
    clientId: { in: path, name: client_id, required: true, schema: { type: string } }
    facilityId: { in: path, name: facility_id, required: true, schema: { type: string } }
    connectorId: { in: path, name: connector_id, required: true, schema: { type: string } }
    recommendationId: { in: path, name: recommendation_id, required: true, schema: { type: string } }
    modelRunId: { in: path, name: model_run_id, required: true, schema: { type: string } }
    importId: { in: path, name: import_id, required: true, schema: { type: string } }
    status: { in: query, name: status, schema: { type: string } }
    severity: { in: query, name: severity, schema: { type: string, enum: [info, warning, high, critical] } }
    sort: { in: query, name: sort, schema: { type: string } }
    limit: { in: query, name: limit, schema: { type: integer, default: 50, minimum: 1, maximum: 200 } }
    cursor: { in: query, name: cursor, schema: { type: string } }
    idempotencyKey:
      in: header
      name: Idempotency-Key
      required: true
      schema: { type: string, minLength: 8 }

  schemas:
    Client:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        industry: { type: string }
        billing_plan: { type: string }
        currency: { type: string }
        timezone: { type: string }
        status: { type: string }
      required: [id, name, industry, billing_plan, currency, timezone, status]

    Facility:
      type: object
      properties:
        id: { type: string }
        client_id: { type: string }
        name: { type: string }
        country: { type: string }
        site_type: { type: string }
        gross_floor_area_m2: { type: number }
        production_profile: { type: string }
        tariff_schedule_id: { type: string }
        timezone: { type: string }
        status: { type: string }
      required: [id, client_id, name, country, site_type, production_profile, timezone, status]

    Appliance:
      type: object
      properties:
        id: { type: string }
        facility_id: { type: string }
        name: { type: string }
        category: { type: string }
        subtype: { type: string }
        rated_power_kw: { type: number }
        control_mode: { type: string }
        zone: { type: string }
        status: { type: string }
      required: [id, facility_id, name, category, rated_power_kw, status]

    Connector:
      type: object
      properties:
        id: { type: string }
        facility_id: { type: string }
        type: { type: string }
        vendor: { type: string }
        source_name: { type: string }
        status: { type: string }
        last_sync_at: { type: string, format: date-time }
      required: [id, facility_id, type, status]

    Channel:
      type: object
      properties:
        channel_id: { type: string }
        label: { type: string }
        unit: { type: string }
        quality_score: { type: number }
        sampling_interval_sec: { type: integer }
      required: [channel_id, label, unit]

    ChannelListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Channel' }
        next_cursor: { type: [string, 'null'] }
      required: [items]

    CreateFacilityRequest:
      type: object
      properties:
        name: { type: string }
        country: { type: string }
        site_type: { type: string }
        gross_floor_area_m2: { type: number }
        production_profile: { type: string }
        timezone: { type: string }
      required: [name, country, site_type, production_profile, timezone]

    CreateFacilityResponse:
      type: object
      properties:
        facility_id: { type: string }
        status: { type: string }
        next_step: { type: string }
      required: [facility_id, status, next_step]

    CreateConnectorRequest:
      type: object
      properties:
        type: { type: string }
        vendor: { type: string }
        display_name: { type: string }
        connection:
          type: object
          additionalProperties: true
        credentials_ref: { type: string }
      required: [type, display_name, connection, credentials_ref]

    ConnectorValidationResult:
      type: object
      properties:
        connector_id: { type: string }
        status: { type: string }
        channels_detected: { type: integer }
        sample_window_minutes: { type: integer }
        issues:
          type: array
          items: { type: string }
      required: [connector_id, status, channels_detected, sample_window_minutes, issues]

    CreateApplianceRequest:
      type: object
      properties:
        name: { type: string }
        category: { type: string }
        rated_power_kw: { type: number }
        zone: { type: string }
        channel_mappings:
          type: array
          items:
            type: object
            properties:
              channel_id: { type: string }
              role: { type: string }
            required: [channel_id, role]
      required: [name, category, rated_power_kw, channel_mappings]

    CreateImportRequest:
      type: object
      properties:
        type: { type: string, enum: [csv, parquet, jsonl] }
        file_id: { type: string }
        schema_hint: { type: string }
        time_column: { type: string }
      required: [type, file_id, time_column]

    ImportJob:
      type: object
      properties:
        import_id: { type: string }
        status: { type: string, enum: [queued, running, completed, failed] }
        progress_pct: { type: number }
        estimated_rows: { type: integer }
        rows_processed: { type: integer }
        rows_rejected: { type: integer }
        started_at: { type: string, format: date-time }
        completed_at: { type: [string, 'null'], format: date-time }
      required: [import_id, status]

    MaterializeFeaturesRequest:
      type: object
      properties:
        window_start: { type: string, format: date-time }
        window_end: { type: string, format: date-time }
        granularity: { type: string, enum: [minute, hour, day] }
      required: [window_start, window_end, granularity]

    CreateModelRunRequest:
      type: object
      properties:
        feature_set_version: { type: string }
        model_family: { type: string }
        objective: { type: string }
        explainability: { type: boolean }
      required: [feature_set_version, model_family, objective]

    ModelRunQueuedResponse:
      type: object
      properties:
        model_run_id: { type: string }
        status: { type: string }
        feature_rows: { type: integer }
        model_version: { type: string }
      required: [model_run_id, status]

    ModelRunDetail:
      type: object
      properties:
        model_run_id: { type: string }
        model_version: { type: string }
        training_window:
          type: object
          properties:
            start: { type: string, format: date-time }
            end: { type: string, format: date-time }
        validation:
          type: object
          properties:
            train_mae_kw: { type: number }
            train_mape: { type: number }
            holdout_mae_kw: { type: number }
            holdout_mape: { type: number }
            training_rows: { type: number }
        selected_hyperparameters:
          type: object
          additionalProperties: true
        drift_baseline_id: { type: string }
        shap_artifacts:
          type: array
          items: { type: string, format: uri }
        anomaly_summary:
          type: object
          additionalProperties: true
        model_artifact_path: { type: string }
        retraining_triggered: { type: boolean }
        retraining_job_id: { type: [string, 'null'] }
        drift_event_id: { type: [string, 'null'] }
        retraining_threshold: { type: number }
        recommendations_generated: { type: integer }
      required: [model_run_id, model_version]

    Recommendation:
      type: object
      properties:
        recommendation_id: { type: string }
        appliance_id: { type: string }
        title: { type: string }
        projected_annual_savings_eur: { type: number }
        confidence: { type: number }
        effort: { type: string }
        payback_months: { type: number }
        implementation_readiness: { type: number }
        status: { type: string }
      required: [recommendation_id, appliance_id, title, status]

    RecommendationListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Recommendation' }
        total_projected_savings_eur: { type: number }
        next_cursor: { type: [string, 'null'] }
      required: [items, total_projected_savings_eur]

    RecommendationDecisionRequest:
      type: object
      properties:
        decision: { type: string, enum: [accepted, rejected] }
        owner_user_id: { type: string }
        target_implementation_date: { type: string, format: date }
        notes: { type: string }
      required: [decision]

    RecommendationImplementationRequest:
      type: object
      properties:
        implementation_date: { type: string, format: date }
        verification_window_days: { type: integer, default: 30 }
        notes: { type: string }
      required: [implementation_date]

    SavingsSummary:
      type: object
      properties:
        projected_savings_eur: { type: number }
        realized_savings_eur: { type: number }
        realization_rate: { type: number }
        by_appliance:
          type: array
          items:
            type: object
            properties:
              appliance_id: { type: string }
              projected_eur: { type: number }
              realized_eur: { type: number }
            required: [appliance_id, projected_eur, realized_eur]
      required: [projected_savings_eur, realized_savings_eur, realization_rate]

    Alert:
      type: object
      properties:
        alert_id: { type: string }
        source_type: { type: string }
        source_id: { type: string }
        facility_id: { type: string }
        client_id: { type: string }
        severity: { type: string, enum: [info, warning, high, critical] }
        state: { type: string, enum: [open, acknowledged, investigating, resolved, closed, suppressed] }
        owner_role: { type: string }
        routing_policy: { type: string }
        sla_minutes: { type: integer }
        dedupe_key: { type: string }
      required: [alert_id, source_type, severity, state, facility_id, client_id]

    AlertListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/Alert' }
        next_cursor: { type: [string, 'null'] }
      required: [items]

    DriftEvent:
      type: object
      properties:
        drift_event_id: { type: string }
        feature_distribution_change: { type: string }
        monitored_segment: { type: string }
        threshold_breached: { type: number }
        affected_model: { type: string }
        retraining_action: { type: string }
      required: [drift_event_id, feature_distribution_change, monitored_segment, affected_model]

    DriftEventListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/DriftEvent' }
        next_cursor: { type: [string, 'null'] }
      required: [items]

    RetrainingJob:
      type: object
      properties:
        job_id: { type: string }
        facility_id: { type: string }
        model_run_id: { type: string }
        status: { type: string, enum: [queued, running, completed, failed] }
        reason: { type: string }
        threshold: { type: number }
        observed_holdout_mape: { type: number }
      required: [job_id, facility_id, status]

    RetrainingJobListResponse:
      type: object
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/RetrainingJob' }
        next_cursor: { type: [string, 'null'] }
      required: [items]

    AsyncJobResponse:
      type: object
      properties:
        job_id: { type: string }
        status: { type: string, enum: [queued, running, completed, failed] }
      required: [job_id, status]

    WebhookSubscriptionRequest:
      type: object
      properties:
        client_id: { type: string }
        facility_id: { type: [string, 'null'] }
        url: { type: string, format: uri }
        secret_ref: { type: string }
        events:
          type: array
          items:
            type: string
            enum:
              - connector.sync_failed
              - ingestion.import_completed
              - data_quality.degraded
              - model.run_completed
              - recommendation.created
              - recommendation.accepted
              - drift.detected
              - retraining.triggered
              - savings.under_realization
      required: [client_id, url, secret_ref, events]

    WebhookSubscription:
      type: object
      properties:
        webhook_id: { type: string }
        status: { type: string, enum: [active, paused] }
        created_at: { type: string, format: date-time }
      required: [webhook_id, status, created_at]

    DemoRequestCreate:
      type: object
      properties:
        company: { type: string }
        contact_name: { type: string }
        email: { type: string, format: email }
        facilities_count: { type: integer }
        annual_energy_spend_eur: { type: number }
        message: { type: string }
      required: [company, contact_name, email]

    DemoRequest:
      type: object
      properties:
        request_id: { type: string }
        status: { type: string }
        created_at: { type: string, format: date-time }
      required: [request_id, status, created_at]

    PricingInquiryCreate:
      type: object
      properties:
        company: { type: string }
        contact_name: { type: string }
        email: { type: string, format: email }
        deployment_size: { type: string }
        requested_plan: { type: string }
        message: { type: string }
      required: [company, contact_name, email]

    PricingInquiry:
      type: object
      properties:
        inquiry_id: { type: string }
        status: { type: string }
        created_at: { type: string, format: date-time }
      required: [inquiry_id, status, created_at]

    PartnerCreate:
      type: object
      properties:
        name: { type: string }
        industry: { type: string }
        contact_email: { type: string, format: email }
        contact_name: { type: string }
        scopes:
          type: array
          items: { type: string }
        assigned_clients:
          type: array
          items: { type: string }
      required: [name, contact_email, contact_name]

    Partner:
      type: object
      properties:
        partner_id: { type: string }
        name: { type: string }
        industry: { type: string }
        contact_email: { type: string, format: email }
        contact_name: { type: string }
        status: { type: string, enum: [active, suspended, archived] }
        assigned_clients:
          type: array
          items: { type: string }
        assigned_scopes:
          type: array
          items: { type: string }
        created_at: { type: string, format: date-time }
        created_by: { type: string }
      required: [partner_id, name, status, created_at]

    PartnerUpdate:
      type: object
      properties:
        status: { type: string, enum: [active, suspended, archived] }
        assigned_clients:
          type: array
          items: { type: string }
        assigned_scopes:
          type: array
          items: { type: string }

    ApiKeyCreate:
      type: object
      properties:
        name: { type: string }
        scopes:
          type: array
          items: { type: string }
      required: [name]

    ApiKey:
      type: object
      properties:
        key_id: { type: string }
        partner_id: { type: string }
        name: { type: string }
        scopes:
          type: array
          items: { type: string }
        status: { type: string, enum: [active, revoked] }
        created_at: { type: string, format: date-time }
        expires_at: { type: string, format: date-time }
        last_used_at: { type: [string, 'null'], format: date-time }
      required: [key_id, partner_id, name, status, created_at, expires_at]

    ApiKeyWithSecret:
      type: object
      properties:
        key_id: { type: string }
        secret: { type: string }
        partner_id: { type: string }
        scopes:
          type: array
          items: { type: string }
        created_at: { type: string, format: date-time }
        expires_at: { type: string, format: date-time }
        warning: { type: string }
      required: [key_id, secret, partner_id, created_at, expires_at]

    WebhookCreate:
      type: object
      properties:
        url: { type: string, format: uri }
        description: { type: string }
        events:
          type: array
          items: { type: string }
        max_retries: { type: integer, default: 3 }
        backoff_seconds: { type: integer, default: 60 }
      required: [url, events]

    WebhookUpdate:
      type: object
      properties:
        url: { type: string, format: uri }
        events:
          type: array
          items: { type: string }
        status: { type: string, enum: [active, paused] }

    Webhook:
      type: object
      properties:
        webhook_id: { type: string }
        partner_id: { type: string }
        url: { type: string, format: uri }
        description: { type: string }
        status: { type: string, enum: [active, paused] }
        events:
          type: array
          items: { type: string }
        created_at: { type: string, format: date-time }
        created_by: { type: string }
        signature_algorithm: { type: string }
      required: [webhook_id, partner_id, url, status, events, created_at]

    AllocationCreate:
      type: object
      properties:
        client_id: { type: string }
        scopes:
          type: array
          items: { type: string }
        read_only: { type: boolean, default: true }
      required: [client_id]

    AllocationUpdate:
      type: object
      properties:
        status: { type: string, enum: [active, revoked] }
        scopes:
          type: array
          items: { type: string }
        read_only: { type: boolean }

    Allocation:
      type: object
      properties:
        allocation_id: { type: string }
        partner_id: { type: string }
        client_id: { type: string }
        status: { type: string, enum: [active, revoked] }
        scopes:
          type: array
          items: { type: string }
        read_only: { type: boolean }
        created_at: { type: string, format: date-time }
        created_by: { type: string }
      required: [allocation_id, partner_id, client_id, status, scopes, created_at]

    PartnerUsage:
      type: object
      properties:
        partner_id: { type: string }
        summary:
          type: object
          properties:
            total_events: { type: integer }
            api_keys: { type: integer }
            allocations: { type: integer }
            webhooks: { type: integer }
        audit_events:
          type: array
          items:
            type: object
            properties:
              audit_id: { type: string }
              action: { type: string }
              resource_id: { type: string }
              actor: { type: string }
              timestamp: { type: string, format: date-time }
              metadata:
                type: object
                additionalProperties: true
      required: [partner_id, summary, audit_events]
